html, body{
    font-family: 'Open Sans';
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
}

body { 
    height: 100%;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
}

main {
    border: solid black 1px;
    display: grid;
    grid-template-columns: minmax(200px, 600px);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "nav"
                         "header"
                         "skills" ;
    width: 100%;
    height: 100%;
    justify-content: center;
}

header {
    grid-area: header;
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

header h2 {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}